@import url('base.css');
header{
	width: 100%;
	height: 662px;
	background: red;
	position: relative;
}
header img{
	width:100%;
	height: 100%;
}
header .zhezhao{
	width: 100%;
	height: 660px;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	top: 0;
}
.head{
	width: 1200px;
	height: 60px;
	/* background: red; */
	margin: 20px auto 0px;
}
.head .icon-internet-other{
	font-size: 30px;
	color: #fff;
	line-height: 60px;
	float: left;
}
.head-font{
	font-size: 20px;
	margin-left: 5px;
	color: #fff;
	display: block;
	float: left;
	margin-top: 16px;
}
.head-right{
	/* background: blue; */
	float: right;
	width: 860px;
	height: 100%;
}
.head-right li{
	float: left;
	margin-right: 100px;
	line-height: 60px;
}
.head-right li:last-child{
	margin-right: 0;
}
.head-right li a{
	font-size: 16px;
	line-height: 60px;
	color: #fff;
}
header h1{
	text-align: center;
	display: block;
	margin-top: 150px;
	color: #fff;
	font-size: 40px;
}
header span{
	text-align: center;
	display: block;
	margin-top: 30px;
	font-size: 20px;
	color: #fff;
}
header span span{
	color: red;
	display: inline;
}
header p{
	text-align: center;
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
}
.go{
	width: 440px;
	height: 50px;
	margin: 40px auto 0;
}
.go a{
	display: block;
	font-size: 20px;
	float: left;
	margin-right: 25px;
	border: 3px solid #fff;
	border-radius: 2px;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
}
.go a:first-child:hover{
	background: #F0C01A;
	border: 3px solid #F0C01A;
	/* color: #000; */
}
.go a:last-child{
	margin-right: 0;
	background: #FEFEFE;
	color: #000;
}
.go a:last-child:hover{
	background: #F0C01A;
	border: 3px solid #F0C01A;
	color: #000;
}
main{
	width: 960px;
	height: auto;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 -5px 10px 10px #e7e7e7;
	overflow: hidden;
}
.home{
	margin-top: 10px;
	font-size: 16px;
	margin-left: 5px;
	color: #000;
	font-weight: bold;
}
.home span{
	color: #c0bfbf;
	font-weight: normal;
}
.home1{
	margin-top: 30px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #000;
}
.home2{
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
	color: #767676;
}
.home3{
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
	color: #2b2a2b;
}
.home4{
	width: 920px;
	height: 900px;
	margin: 0 auto;
	border: 1px solid #000;
	margin-top: 50px;
}
.home4-1,.home4-2{
	width: 50%;
	height: 300px;
	float: left;
}
.home4-1 > img{
	width: 100%;
	height: 100%;
}
.home4-4 img{
	width: 100%;
	height: 100%;
}
.home4-5 img{
	width: 100%;
	height: 100%;
}
.home4-3,.home4-4{
	width: 50%;
	height: 300px;
	float: left;
}
.home4-3{
	background: #6a5c2b;
	position: relative;
}
.more{
	position: absolute;
	top: 20px;
	right: 40px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #f5e803;
	text-align: center;
	line-height: 60px;
	color: #fff;
	cursor: pointer;
}
.home4-5,.home4-6{
	width: 50%;
	height: 300px;
	float: left;
}
.xiao{
	font-size: 18px;
	margin-top: 30px;
	margin-left: 20px;
	color: #000;
	font-weight: bold;
}
.qi{
	width: 300px;
	height: 30px;
	margin-left: 20px;
	margin-top: 20px;
}
.qi li{
	float: left;
	margin-right: 10px;
	font-size: 16px;
	color: #6f6f6f;
}
.qu{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: yellow;
	margin-top: 6px;
}
.xiao1,.xiao2{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 16px;
	color: #6f6f6f;
}
.te{
	display: block;
	width: 405px;
	height: 60px;
	margin: 30px auto 0;

}
.te li{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #252525;
	float: left;
	margin-right: 50px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
}
.te li:first-child{
	background: #847131;
	margin-left: 45px;
}
.box{
	width: 100%;
	height: 40px;
	padding-bottom: 40px;
	position: relative;
}
.hr1{
	position: absolute;
	width: 220px;
	background: #847131;
	top: 20px;
	left: 60px;
	color: #847131;
}
.hr2{
	position: absolute;
	width: 220px;
	background: #847131;
	top: 20px;
	right: 65px;
	color: #847131;
}
/* 底部 */
.foot{
	width: 100%;
	height: auto;
	background: #000;
}
.foot1{
	font-size: 18px;
	color: #8e8d8d;
	margin-top: 30px;
}
.foot2{
	font-size: 14px;
	color: #8e8d8d;
	float: left;
	margin-right: 260px;
}
.foot2 li{
	margin-top: 20px;
}
.foot3{
	font-size: 14px;
	color: #8e8d8d;
	float: left;
	margin-right: 260px;
}
.foot3 li{
	margin-top: 20px;
}
.foot4{
	font-size: 14px;
	color: #8e8d8d;
	float: left;
	margin-right:60px;
}
.foot4 li{
	margin-top: 20px;
}
.foot5{
	font-size: 18px;
	color: #8e8d8d;
	margin-top: -30px;
	float: left;
}
.foot6{
	width: 200px;
	height: 50px;
	float: left;
	margin-top: 20px;
}
.foot6 .icon-facebookicon{
	display: block;
	font-size: 20px;
	color: #8e8d8d;
	float: left;
	margin-right: 10px;
}
.foot6 .icon-xiaoniao{
	display: block;
	font-size: 20px;
	color: #8e8d8d;
	float: left;
	margin-right: 10px;
}
.foot6 .icon-be{
	display: block;
	font-size: 20px;
	color: #8e8d8d;
	float: left;
	margin-right: 10px;
}
.foot6 .icon-qq{
	display: block;
	font-size: 20px;
	color: #8e8d8d;
	float: left;
	margin-right: 10px;
}
.foot0{
	margin-top: 30px;
	width: 100%;
	height: auto;
}
.foot7{
	text-align: center;
	color: #8e8d8d;
	margin-right: 30px;
	float: left;
	font-size: 14px;
	margin-left: 450px;	
}
.foot8{
	text-align: center;
	color: #8e8d8d;
	margin-right: 30px;
	float: left;
	font-size: 14px;	
}
.foot9{
	text-align: center;
	color: #8e8d8d;
	margin-right: 30px;
	float: left;
	font-size: 14px;	
}
.foot10{
	text-align: center;
	color: #8e8d8d;
	font-size: 12px;
	margin-top: 6px;
}
